{{extend 'layout.html'}}

{{block head}}
{{end}}

<div class="main_content">

  <!-- Here goes your main HTML code. -->

  <div id="vue-div" class="display:none">
  
     <div class="padded">
       <h2>Welcome to PC Pal!</h2>
       <div class="container">
         <div class="quarter">
           <div class="padded">
             <label class="btn fill teal" for="myBuildTab">My Build</label>
             <label class="btn fill teal" for="CPUTab">Processors</label>
             <label class="btn fill teal" for="GPUTab">Graphics Cards</label>
             <label class="btn fill teal" for="MemTab">Memory</label>
             <label class="btn fill teal" for="MoboTab">Motherboards</label>
             <label class="btn fill teal" for="HDDTab">Hard Drives</label>
             <label class="btn fill teal" for="PSUTab">Power Supplies</label>
             <label class="btn fill teal" for="CaseTab">PC Cases</label>
           </div>
         </div>
     </div>  
  
</div>

