<!DOCTYPE html>

<html>
    {# loads static files #}
    {% block static %}
    {% load static %}
    <!-- Load Static Files Here -->
    <link rel = "stylesheet" type="text/css" href="{% static 'css/stupid.css' %}" />
    <link rel = "stylesheet" type="text/js" href="{% static 'js/vue.js' %}" />
    <link rel = "stylesheet" type="text/js" href="{% static 'js/jquery.js%' }">
    {% endblock %}


    {# loads header/nav bar #}
    {% block header %} 
    <header>
        <style type="text/css">
          body {
            width: 100%;
            height: 100%;
            background: #222629;
            /*background: linear-gradient(to left, #5CDB95, #EDF5E1);*/ 
          }
        </style>
        <!--<nav>
            <a href="logo">PCPal</a>
            <a href="#">Item1</a>
            <a href="#">Item2</a>
        </nav>-->

    </header> 
    {% endblock %}

    {# The Document Body #}
    <body>
    <div class="site-wrapper">
        <div class="aspect-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>