{% extends "PCPal/base.html" %}

{% block content %}
<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="padded">
      <h2>Welcome to PC Pal!</h2>
      <div class="container">
        <div class="quarter">
          <div class="padded">
            <label class="btn fill teal" for="myBuildTab">My Build</label>
            <label class="btn fill teal" for="CPUTab">Processors</label>
            <label class="btn fill teal" for="GPUTab">Graphics Cards</label>
            <label class="btn fill teal" for="MemTab">Memory</label>
            <label class="btn fill teal" for="MoboTab">Motherboards</label>
            <label class="btn fill teal" for="HDDTab">Hard Drives</label>
            <label class="btn fill teal" for="PSUTab">Power Supplies</label>
            <label class="btn fill teal" for="CaseTab">PC Cases</label>
          </div>
        </div>
        <div class="threequarters">
          <div class="accordion">
            <input type="radio" name="group1" id="myBuildTab">
            <div>
              <div class="card" style="width:500px; height:200px">
                My Build Tab, display build data here
              </div>
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="CPUTab">
            <div>
              {% if latest_cpu_list %}
              <ul>
                {% for cpu in latest_cpu_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <div> Price: {{ cpu.cpu_price }} </div>
                      <div> Speed: {{ cpu.cpu_speed }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No CPUs are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="GPUTab">
            <div>
              {% if latest_gpu_list %}
              <ul>
                {% for gpu in latest_gpu_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ gpu.id }}/">{{ gpu.gpu_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <div> Price: {{ gpu.gpu_price }} </div>
                      <div> Speed: {{ gpu.gpu_mem }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No GPUs are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="MemTab">
            <div>
              {% if latest_ram_list %}
              <ul>
                {% for ram in latest_ram_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ ram.id }}/">{{ ram.ram_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <div> Price: {{ ram.ram_price }} </div>
                      <div> Capacity: {{ ram.ram_size }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No RAM kits are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="MoboTab">
            <div>
              {% if latest_mobo_list %}
              <ul>
                {% for mobo in latest_mobo_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ mobo.id }}/">{{ mobo.mobo_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <div> Price: {{ mobo.mobo_price }} </div>
                      <div> Max RAM: {{ mobo.mobo_ram }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No motherboards are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="HDDTab">
            <div>
              {% if latest_hdd_list %}
              <ul>
                {% for hdd in latest_hdd_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ cpu.id }}/">{{ hdd.hdd_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <div> Price: {{ hdd.hdd_price }} </div>
                      <div> Capacity: {{ hdd.hdd_cap }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No hard drives are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="PSUTab">
            <div>
              {% if latest_cpu_list %}
              <ul>
                {% for cpu in latest_cpu_list %}
                <div class="card" style="width:275px; height:96px;display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <div> Price: {{ cpu.cpu_price }} </div>
                      <div> Speed: {{ cpu.cpu_speed }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No CPUs are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="CaseTab">
            <div>
              {% if latest_cpu_list %}
              <ul>
                {% for cpu in latest_cpu_list %}
                <div class="card" style="width:275px; height:96px;display: inline-block">
                  <div>
                      <div class="white padded rounded">
                        <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
                      </div>
                      <div class="black padded rounded">
                        <div> Price: {{ cpu.cpu_price }} </div>
                        <div> Speed: {{ cpu.cpu_speed }} </div>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No CPUs are available.</p>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
<!--
{% if latest_cpu_list %}
    <ul>
    {% for cpu in latest_cpu_list %}
        <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
    {% endfor %}
    </ul>
{% else %}
    <p>No CPUs are available.</p>
{% endif %}
  </div>
</div>
-2>
{% endblock %}