{% extends "PCPal/base.html" %}


{% block content %}
<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="padded">
      <h2>Welcome to PC Pal!</h2>
      <div class="container">
        <div class="quarter">
          <div class="padded">
            <label class="btn fill teal" for="myBuildTab">My Build</label>
            <label class="btn fill teal" for="CPUTab">Processors</label>
            <label class="btn fill teal" for="GPUTab">Graphics Cards</label>
            <label class="btn fill teal" for="MemTab">Memory</label>
            <label class="btn fill teal" for="MoboTab">Motherboards</label>
            <label class="btn fill teal" for="HDDTab">Hard Drives</label>
            <label class="btn fill teal" for="PSUTab">Power Supplies</label>
            <label class="btn fill teal" for="CaseTab">PC Cases</label>
            <p style = "font-size:19px"><b>Recommended Builds</b></p>
            <label class="btn fill teal" for="LoWTierG">Low Tier: Gaming</label>
            <label class="btn fill teal" for="MidTierG">Mid Tier: Gaming</label>
            <label class="btn fill teal" for="HighTierG">High Tier: Gaming</label>
            <label class="btn fill teal" for="LowTierE">Low End: Editing</label>
            <label class="btn fill teal" for="HighTierE">High End: Editing</label>
          </div>
        </div>
        <div class="threequarters">
          <div class="accordion">
            <input type="radio" name="group1" id="myBuildTab">
            <div>
              <div class="card" style="width:500px; height:200px">
                My Build Tab, display build data here
              </div>
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="CPUTab">
            <div>
              {% if latest_cpu_list %}
              <ul>
                {% for cpu in latest_cpu_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
                      <div> Price: {{ cpu.cpu_price }} </div>
                      <div> Speed: {{ cpu.cpu_speed }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No CPUs are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="GPUTab">
            <div>
              {% if latest_gpu_list %}
              <ul>
                {% for gpu in latest_gpu_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ gpu.id }}/">{{ gpu.gpu_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <li><a href = "/PCPal/{{ gpu.id }}/">{{ gpu.gpu_name }}</a><li>
                      <div> Price: {{ gpu.gpu_price }} </div>
                      <div> Speed: {{ gpu.gpu_mem }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No GPUs are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="MemTab">
            <div>
              {% if latest_ram_list %}
              <ul>
                {% for ram in latest_ram_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ ram.id }}/">{{ ram.ram_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <li><a href = "/PCPal/{{ ram.id }}/">{{ ram.ram_name }}</a><li>
                      <div> Price: {{ ram.ram_price }} </div>
                      <div> Capacity: {{ ram.ram_size }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No RAM kits are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="MoboTab">
            <div>
              {% if latest_mobo_list %}
              <ul>
                {% for mobo in latest_mobo_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ mobo.id }}/">{{ mobo.mobo_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <li><a href = "/PCPal/{{ mobo.id }}/">{{ mobo.mobo_name }}</a><li>
                      <div> Price: {{ mobo.mobo_price }} </div>
                      <div> Max RAM: {{ mobo.mobo_ram }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No motherboards are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="HDDTab">
            <div>
              {% if latest_hdd_list %}
              <ul>
                {% for hdd in latest_hdd_list %}
                <div class="card" style="width:275px; height:96px; display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ hdd.id }}/">{{ hdd.hdd_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <li><a href = "/PCPal/{{ hdd.id }}/">{{ hdd.hdd_name }}</a><li>
                      <div> Price: {{ hdd.hdd_price }} </div>
                      <div> Capacity: {{ hdd.hdd_cap }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No hard drives are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="PSUTab">
            <div>
              {% if latest_psu_list %}
              <ul>
                {% for psu in latest_psu_list %}
                <div class="card" style="width:275px; height:96px;display: inline-block">
                  <div>
                    <div class="white padded rounded">
                      <li><a href = "/PCPal/{{ psu.id }}/">{{ psu.psu_name }}</a><li>
                    </div>
                    <div class="black padded rounded">
                      <li><a href = "/PCPal/{{ psu.id }}/">{{ psu.psu_name }}</a><li>
                      <div> Price: {{ psu.psu_price }} </div>
                      <div> Peak Wattage: {{ psu.psu_watts }} </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No PSUs are available.</p>
                {% endif %}
            </div>
          </div>
          <div class="accordion">
            <input type="radio" name="group1" id="CaseTab">
            <div>
              {% if latest_case_list %}
              <ul>
                {% for twr in latest_case_list %}
                <div class="card" style="width:275px; height:96px;display: inline-block">
                  <div>
                      <div class="white padded rounded">
                        <li><a href = "/PCPal/{{ twr.id }}/">{{ twr.twr_name }}</a><li>
                      </div>
                      <div class="black padded rounded">
                        <li><a href = "/PCPal/{{ twr.id }}/">{{ twr.twr_name }}</a><li>
                        <div> Price: {{ twr.twr_price }} </div>
                        <div> Type: {{ twr.twr_type }} </div>
                      </div>
                  </div>
                </div>
                {% endfor %}
              </ul>
                {% else %}
                  <p>No Cases are available.</p>
                {% endif %}
            </div>
          </div>


          <div class="threequarters">
            <div class="accordion">
            <input type="radio" name="group1" id="LoWTierG">
              <div>
                <p style = "font-size:20px"><u><b>Low End Gaming Build</b></u></p>
                <p style = "font-size:16px"><b>Price Range: $450-$500</b></p>
                <p style = "font-size:16px"><b>Processor</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Intel Pentium G4560</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Intel Pentium G4560</div>
                        <div> Price: $54.68</div>
                        <div> Speed: 3.5GHz</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Graphics Card</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Zotac Geforce GTX 1050Ti</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Zotac Geforce GTX 1050Ti</div>
                        <div> Price: $169.99</div>
                        <div> Video RAM: 4GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Memory</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Crucial - Ballistix Sport LT</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Crucial - Ballistix Sport LT</div>
                        <div> Price: $69.99</div>
                        <div> Capacity: 8GB (2x4GB)</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Motherboard</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Gigabyte - GA-B250M</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Gigabyte - GA-B250M</div>
                        <div> Price: $44.99</div>
                        <div> Max RAM: 64GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Hard Drive</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Hitachi - Ultrastar 7K3000</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Hitachi - Ultrastar 7K3000</div>
                        <div> Price: $54.88</div>
                        <div> Capacity: 2TB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Power Supply</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Corsair CXM (2015)</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Corsair CXM (2015)</div>
                        <div> Price: $44.99</div>
                        <div> Peak Wattage: 450W</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>PC Case</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Thermaltake - Versa H22</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Thermaltake - Versa H22</div>
                        <div> Price: $36.99</div>
                        <div> Type: ATX Mid</div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="threequarters">
            <div class="accordion">
            <input type="radio" name="group1" id="MidTierG">
              <div>
                <p style = "font-size:20px"><u><b>Mid Tier Gaming Build</b></u></p>
                <p style = "font-size:16px"><b>Price Range: $720-$800</b></p>
                <p style = "font-size:16px"><b>Processor</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>AMD Ryzen 3 1300X</div>
                      </div>
                      <div class="black padded rounded">
                        <div>AMD Ryzen 3 1300X</div>
                        <div> Price: $124.88</div>
                        <div> Speed: 3.5Ghz </div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Graphics Card</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>MSI GeForce GTX 1060</div>
                      </div>
                      <div class="black padded rounded">
                        <div>MSI GeForce GTX 1060</div>
                        <div> Price: $304.99</div>
                        <div> Video RAM: 6GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Memory</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>G.Skill - Ripjaws V Series</div>
                      </div>
                      <div class="black padded rounded">
                        <div>G.Skill - Ripjaws V Series</div>
                        <div> Price: $79.99</div>
                        <div> Capacity: 8GB (2x4GB)</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Motherboard</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Gigabyte - GA-AB350M</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Gigabyte - GA-AB350M</div>
                        <div> Price: $64.99</div>
                        <div> Max-Ram: 32GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Hard Drive</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Inland Pro SSD</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Inland Pro SSD</div>
                        <div> Price: $42.99</div>
                        <div> Capacity: 240GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Power Supply</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Corsair TXM Gold</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Corsair TXM Gold</div>
                        <div> Price: $54.99</div>
                        <div> Peak Wattage: 850W</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>PC Case</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Cooler Master - MasterBox Q300L</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Cooler Master - MasterBox Q300L</div>
                        <div> Price: $39.99</div>
                        <div> Type: Mini Tower</div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="threequarters">
            <div class="accordion">
            <input type="radio" name="group1" id="HighTierG">
              <div>
                <p style = "font-size:20px"><u><b>High End Gaming Build</b></u></p>
                <p style = "font-size:16px"><b>Price Range: $2,000-$2,200</b></p>
                <p style = "font-size:16px"><b>Processor</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Intel Core i7-8700K</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Intel Core i7-8700K</div>
                        <div> Price: $339.99</div>
                        <div> Speed: 3.70GHz</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Graphics Card</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>MSI GeForce GTX 1080 Ti GAMING</div>
                      </div>
                      <div class="black padded rounded">
                        <div>MSI GeForce GTX 1080 Ti GAMING</div>
                        <div> Price: $789.99</div>
                        <div> Video RAM: 11GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Memory</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Kingston HyperX Fury Black</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Kingston HyperX Fury Black</div>
                        <div> Price: $151.89</div>
                        <div> Capacity: 16GB (2x8GB)</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Motherboard</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>MSI 970 Gaming</div>
                      </div>
                      <div class="black padded rounded">
                        <div>MSI 970 Gaming</div>
                        <div> Price: $199.79</div>
                        <div> Max RAM: 32GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Hard Drive</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Western Digital WDS512G1X0C</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Western Digital WDS512G1X0C</div>
                        <div> Price: $149.89</div>
                        <div> Capacity: 512GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Power Supply</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>EVGA SuperNOVA 850</div>
                      </div>
                      <div class="black padded rounded">
                        <div>EVGA SuperNOVA 850</div>
                        <div> Price: $109.99</div>
                        <div> Peak Wattage: 850W</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>PC Case</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>NZXT H700i</div>
                      </div>
                      <div class="black padded rounded">
                        <div>NZXT H700i</div>
                        <div> Price: $174.83</div>
                        <div> Type: ATX Mid Tower</div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="threequarters">
            <div class="accordion">
            <input type="radio" name="group1" id="LowTierE">
              <div>
                <p style = "font-size:20px"><u><b>Low End Editing Build</b></u></p>
                <p style = "font-size:16px"><b>Price Range: $700-$750</b></p>
                <p style = "font-size:16px"><b>Processor</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Intel Core i5-8400</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Intel Core i5-8400</div>
                        <div> Price: $178.99</div>
                        <div> Speed: 2.60GHz</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Graphics Card</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>MSI Gaming GeForce GTX 1050</div>
                      </div>
                      <div class="black padded rounded">
                        <div>MSI Gaming GeForce GTX 1050</div>
                        <div> Price: $135.33</div>
                        <div> Video RAM: 2GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Memory</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Ballistix Sport LT</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Ballistix Sport LT</div>
                        <div> Price: $87.49</div>
                        <div> Capacity: 8GB (1x8GB)</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Motherboard</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>MSI Z370-A Pro</div>
                      </div>
                      <div class="black padded rounded">
                        <div>MSI Z370-A Pro</div>
                        <div> Price: $99.99</div>
                        <div> Max RAM: 64GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Hard Drive</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Seagate BarraCuda ST2000DM006</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Seagate BarraCuda ST2000DM006</div>
                        <div> Price: $58.99</div>
                        <div> Capacity: 2TB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Power Supply</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>EVGA 450 BT</div>
                      </div>
                      <div class="black padded rounded">
                        <div>EVGA 450 BT</div>
                        <div> Price: $29.99</div>
                        <div> Peak Wattage: 450W</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>PC Case</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Corsair Carbide 100R </div>
                      </div>
                      <div class="black padded rounded">
                        <div>Corsair Carbide 100R </div>
                        <div> Price: $56.99</div>
                        <div> Type: Mid Tower</div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>

          <div class="threequarters">
            <div class="accordion">
            <input type="radio" name="group1" id="HighTierE">
              <div>
                <p style = "font-size:20px"><u><b>High End Editing Build</b></u></p>
                <p style = "font-size:16px"><b>Price Range: $2,600-$2,700</b></p>
                <p style = "font-size:16px"><b>Processor</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Intel Core i7-7820X</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Intel Core i7-7820X</div>
                        <div> Price: $459.00</div>
                        <div> Speed: 3.6GHz</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Graphics Card</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Gigabyte GeForce GTX 1070 Windforce</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Gigabyte GeForce GTX 1070 Windforce</div>
                        <div> Price: $519.49</div>
                        <div> Video RAM: 8GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Memory</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Corsair Vengeance</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Corsair Vengeance</div>
                        <div> Price: $382.99</div>
                        <div> Capacity: 32GB (4x8GB)</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Motherboard</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>MSI Pro Series X299</div>
                      </div>
                      <div class="black padded rounded">
                        <div>MSI Pro Series X299</div>
                        <div> Price: $231.89</div>
                        <div> Max RAM: 128GB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Hard Drive</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Toshiba X300</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Toshiba X300</div>
                        <div> Price: $137.32</div>
                        <div> Capacity: 5TB</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>Power Supply</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>EVGA SuperNOVA 850 G2</div>
                      </div>
                      <div class="black padded rounded">
                        <div>EVGA SuperNOVA 850 G2</div>
                        <div> Price: $109.99</div>
                        <div> Peak Wattage: 850W</div>
                      </div>
                    </div>
                  </div>
                </ul>
                <p style = "font-size:16px"><b>PC Case</b></p>
                <ul>
                  <div class="card" style="width:275px; height:96px;display: inline-block">
                    <div>
                      <div class="white padded rounded">
                        <div>Phanteks Enthoo Primo</div>
                      </div>
                      <div class="black padded rounded">
                        <div>Phanteks Enthoo Primo</div>
                        <div> Price: $239.99</div>
                        <div> Type: Full Tower</div>
                      </div>
                    </div>
                  </div>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
<!--
{% if latest_cpu_list %}
    <ul>
    {% for cpu in latest_cpu_list %}
        <li><a href = "/PCPal/{{ cpu.id }}/">{{ cpu.cpu_name }}</a><li>
    {% endfor %}
    </ul>
{% else %}
    <p>No CPUs are available.</p>
{% endif %}
  </div>
</div>
-2>
{% endblock %}